.img3
{
    position: absolute;
    position: fixed;
    left: 0px;
    padding-right: 0%;
    padding-top: 0px;
}

.rectangle3
{
    position: absolute;
    height: 600px;
    width: 700px;
    top: 50px;
    left: 400px;
    background-color:rgba(0, 0,0,0.24);
    border-radius: 50px;
}

.form3
{
    position: absolute;
    left: 550px;
    top: 180px;
    font-size: 30px;
}

input[type=text600]
{
   
    size: 22;
    height: 25px;
    font-size: 25px;
    width: 220px;
} 

input[type=text700]
{
   
    size: 22;
    height: 25px;
    font-size: 25px;
    width: 220px;
} 

input[type=text800]
{
   
    size: 22;
    height: 25px;
    font-size: 25px;
    width: 220px;
} 

input[type=text900]
{
   
    size: 22;
    height: 25px;
    font-size: 25px;
    width: 220px;
} 

input[type=text1000]
{
   
    size: 22;
    height: 25px;
    font-size: 25px;
    width: 220px;
} 





.but3
{
    position: absolute;
    border-radius: 100px;
    background: #b9b5b5;
    width: 150px;
    height: 42px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 39px;
    color: #272525;
    left: 120px;
}

